.footer {
  &__social-media {
    display: none;
    padding-left: 50px;

    @media screen and (max-width: 991px) {
      padding-left: 0;
      text-align: center;
    }
  }
  &__social-media-icon {
    width: 20px !important;
    height: 20px !important;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 991px) {
  .nm-footer-bar-right {
    text-align: center;
  }
}
