.page-template-KaledosTemplate {
  .nm-header {
    border: none !important;
  }

  &.header-on-scroll,
  #nm-main-menu-ul > li > a,
  #nm-right-menu-ul > li > a,
  #nm-header,
  .nm-header {
    background: transparent !important;
    color: #fff !important;
  }
}

.kaledos {
  color: #fff;
  font-family: "Jura", sans-serif !important;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-attachment: fixed;

  &__main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    color: #fff;
  }

  &__text-box {
    color: #fff;
    position: relative;

    @media screen and (max-width: 991px) {
      padding: 2rem 0;
    }

    .nm-row {
      height: 100%;
      display: flex;
      align-items: center;

      @media screen and (max-width: 991px) {
        flex-direction: column;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(120deg, transparent 45%, rgba(#fff, 0.8) 45%);

      @media screen and (max-width: 991px) {
        background: rgba(#fff, 0.8);
      }
    }
  }

  &__text-box-header {
    color: #fff;
    text-align: center;
    font-weight: bold;

    @media screen and (max-width: 991px) {
      color: #282828;
    }
  }

  &__text-box-text {
    color: #282828;
    font-size: 1.1rem;
    padding: 2rem 2rem !important;
    text-align: center;
    z-index: 1;
  }

  &__product-box {
    margin-top: 100px;

    &,
    & > * {
      color: #fff !important;
    }
  }

  &__product-box-title {
    font-size: 2.8rem;
    margin: 2rem auto 3rem;
    font-weight: 500;
  }

  &__products {
    background: rgba(#fff, 0.9);
    padding: 3rem;
    border-radius: 10px;
  }

  &__contact {
    margin-top: 100px;

    .nm-row {
      display: flex;
      justify-content: center;
    }

    input[type="submit"] {
      @include button;
    }

    .wpcf7-form-control {
      &:not(.wpcf7-acceptance) {
        background: rgba(#fff, 0.7);
        color: #181818;
      }
    }

    label {
      font-weight: bold;
    }

    &-title,
    &-subtitle {
      color: #fff;
    }
  }
}
