.page-template-KaledosTemplate .nm-header {
  border: none !important;
}

.page-template-KaledosTemplate.header-on-scroll,
.page-template-KaledosTemplate #nm-main-menu-ul > li > a,
.page-template-KaledosTemplate #nm-right-menu-ul > li > a,
.page-template-KaledosTemplate #nm-header,
.page-template-KaledosTemplate .nm-header {
  background: transparent !important;
  color: #fff !important;
}

.kaledos {
  color: #fff;
  font-family: "Jura", sans-serif !important;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-attachment: fixed;
}

@media screen and (max-width: 991px) {
  .kaledos {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.kaledos__main {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kaledos__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.kaledos__subtitle {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: #fff;
}

.kaledos__text-box {
  color: #fff;
  position: relative;
}

@media screen and (max-width: 991px) {
  .kaledos__text-box {
    padding: 2rem 0;
  }
}

.kaledos__text-box .nm-row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  .kaledos__text-box .nm-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.kaledos__text-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(120deg, transparent 45%, rgba(255, 255, 255, 0.8) 45%);
}

@media screen and (max-width: 991px) {
  .kaledos__text-box:before {
    background: rgba(255, 255, 255, 0.8);
  }
}

.kaledos__text-box-header {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .kaledos__text-box-header {
    color: #282828;
  }
}

.kaledos__text-box-text {
  color: #282828;
  font-size: 1.1rem;
  padding: 2rem 2rem !important;
  text-align: center;
  z-index: 1;
}

.kaledos__product-box {
  margin-top: 100px;
}

.kaledos__product-box,
.kaledos__product-box > * {
  color: #fff !important;
}

.kaledos__product-box-title {
  font-size: 2.8rem;
  margin: 2rem auto 3rem;
  font-weight: 500;
}

.kaledos__products {
  background: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  border-radius: 10px 10px 0 0;
}

.kaledos__contact {
  margin-top: 100px;
}

.kaledos__contact .nm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kaledos__contact-title, .kaledos__contact-subtitle {
  color: #fff;
}
/*# sourceMappingURL=kaledos.css.map */