.page-template-KaledosTemplate {
  .nm-header {
    border: none !important;
  }

  &.header-on-scroll,
  #nm-main-menu-ul > li > a,
  #nm-right-menu-ul > li > a,
  #nm-header,
  .nm-header {
    background: transparent !important;
    color: #fff !important;
  }
}

.kaledos {
  color: #fff;
  font-family: "Jura", sans-serif !important;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;

  &__main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    color: #fff;
  }

  &__text-box {
    color: #fff;
    min-height: 200px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(90deg, transparent 50%, rgba(#fff, 0.8) 50%);
    }
  }

  &__text-box-header {
    color: #fff;
    text-align: center;
  }

  &__text-box-text {
    color: #282828;
    font-size: 1.1rem;
    padding: 1rem 3rem;
  }
}
