.woocommerce-loop-product__title {
  padding-right: 0 !important;
}

.products {
  @media screen and (max-width: 991px) {
    .nm-shop-loop-details {
      text-align: center;
    }

    .nm-shop-loop-actions {
      position: relative;
      left: 0;
      opacity: 1;
    }

    li:hover .price {
      opacity: 1;
    }

    li:hover .nm-shop-loop-actions {
      color: #282828;
    }
  }
}
